<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.opslab.core.model.BusinessLog">

    <!--一对多映射关联-->
    <!--方法一-->
    <insert id="saveBusinessLog" parameterType="com.opslab.core.model.BusinessLog">
        INSERT INTO j2eebase.ops_rt_log4jbusinesslog
            (ip,
             port,
             className,
             times,
             level,
             msg
             )VALUES (
             #{ip},
            #{port},
            #{className},
            #{times},
            #{level},
            #{msg})
    </insert>


</mapper>
