<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.opslab.blog.admin.domain.UploadGroup">


    <!--查询业务日志-->
    <select id="select" parameterType="map" resultMap="UploadGroupResultMap">
        select * from t_ops_uploadgroup
        <where>
            <if test="id != null">
                and gid = #{id}
            </if>
        </where>
    </select>


    <resultMap id="UploadGroupResultMap" type="com.opslab.blog.admin.domain.UploadGroup">
        <id property="gid" column="gid"></id>
        <result property="name" column="name"></result>
        <result property="suffixs" column="suffixs"></result>
        <result property="path" column="path"></result>
        <result property="originalPath" column="originalPath"></result>
        <result property="limit" column="limit"></result>
    </resultMap>
</mapper>
