<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.opslab.imagemanager.domain.GeneralCode">


    <!--更新编码的状态-->
    <update id="updateValid" parameterType="map">
      update t_ops_generalcode set valid =${valid}
      <where>
          <if test="id != null">
              and id = #{id}
          </if>
          <if test="codeId != null">
              and codeId = #{codeId}
          </if>
          <if test="codeType != null">
              and codeType = #{codeType}
          </if>
      </where>
    </update>
    <!--查询业务日志-->
    <select id="select" parameterType="map" resultMap="GeneralCodeResultMap">
        select * from t_ops_generalcode
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="codeId != null">
                and codeId = #{codeId}
            </if>
            <if test="parentId != null">
                and parentId = #{parentId}
            </if>
            <if test="codeName != null">
                and codeName like #{codeName}
            </if>
            <if test="codeType != null">
                and codeType = #{codeType}
            </if>
            <if test="treeType != null">
                and treeType = #{treeType}
            </if>
            <if test="valid != null">
                and valid = #{valid}
            </if>
        </where>
        order by orderId asc
    </select>

    <select id="count" parameterType="map" resultType="int">
        select count(*) from t_ops_generalcode
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="codeId != null">
                and codeId = #{codeId}
            </if>
            <if test="parentId != null">
                and parentId = #{parentId}
            </if>
            <if test="codeName != null">
                and codeName like #{codeName}
            </if>
            <if test="codeType != null">
                and codeType = #{codeType}
            </if>
            <if test="treeType != null">
                and treeType = #{treeType}
            </if>
            <if test="valid != null">
                and valid = #{valid}
            </if>
        </where>
    </select>

    <resultMap id="GeneralCodeResultMap" type="com.opslab.imagemanager.domain.GeneralCode">
        <id property="id" column="id"></id>
        <result property="codeId" column="codeId"></result>
        <result property="parentId" column="parentId"></result>
        <result property="codeName" column="codeName"></result>
        <result property="codeType" column="codeType"></result>
        <result property="orderId" column="orderId"></result>
        <result property="createTime" column="createTime"></result>
        <result property="treeType" column="treeType"></result>
        <result property="valid" column="valid"></result>
        <result property="path" column="path"></result>
        <result property="memo" column="memo"></result>
    </resultMap>
</mapper>
